openapi: 3.0.0
info:
  license:
    name: CPI
    url: https://www.carpayke.com
  version: 1.0.22
  title: Integration API.
  description: >
    # How to get API Access token

    When invoking any API operation on M-TIBA platform, a bearer token has to be

    supplied for authenticating the request.


    M-TIBA platform uses expiring tokens which

    are short-lived and hence the invoking system has to regularly generate and
    supply

    a valid token using the [System Login
    API](https://carepay.stoplight.io/docs/cp-apis/0ac07b12bcccc-system-login).


    The API uses a username and password supplied by CarePay to generate a valid
    access token that can be used to authenticate

    subsequent requests before expiry.
  contact:
    name: API Support
    url: https://www.example.com/support
    email: billingteam@carepay.com
servers:
  - url: https://api.ke-acc.carepay.dev/api/integration
    description: KE TEST
  - url: https://api.ke-acc.carepay.dev/api/integration
    description: KE ACC
security:
  - Authorization: []
tags:
  - name: Billing
    description: >-
      Endpoints for enabling Integrated Facilities to use CarePay Platform for
      billing.
paths:
  /visit/{visitCode}/bill:
    $ref: paths/visit_{visitCode}_bill.yaml
  /visit/{visitCode}/bill/bulk:
    $ref: paths/visit_{visitCode}_bill_bulk.yaml
  /visit/{visitCode}/payments:
    $ref: paths/visit_{visitCode}_payments.yaml
  /visit/{visitCode}/medicalDetails:
    $ref: paths/visit_{visitCode}_medicalDetails.yaml
  /visit/{visitCode}/close:
    $ref: paths/visit_{visitCode}_close.yaml
  /visit/{visitCode}:
    $ref: paths/visit_{visitCode}.yaml
components:
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-tyk-api-gateway:
  info:
    id: integration
    name: integration
    state:
      active: true
  upstream:
    url: http://integration.default.svc.cluster.local:80
  server:
    listenPath:
      value: /api/v3/integration
      strip: true
  middleware:
    global:
      pluginConfig:
        driver: goplugin
        bundle:
          enabled: true
          path: spicedb-plugin-1.6.zip
